@using InventoryTracker.Models
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">Edit Shipment</h1>
</div>
<div id="fourteen" class="container">
  <div class="row">

  </div>
  <div class="row">

  </div>
</div>
