@using InventoryTracker.Models
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">Shipment Index</h1>
</div>
<div id="fifteen" class="container">
  <div class="row">
    <p><a href="/shipments/new">Recieve a new shipment</a></p>
  </div>
  <div class="row">

  </div>
</div>
