@using InventoryTracker.Models
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">Shipment Index</h1>
</div>

<div class="row">
  <div class="col-md-4">
    
  </div>
  <div class="col-md-5">
    <div class="list">
    @foreach(Shipment shipment in Model)
      {
        <p><a href="/shipments/@shipment.GetId()">@shipment.GetId(): @shipment.GetDate()</a></p>
      }
    </div>
  </div>
  <div class="col-md-3">
    <a href="/shipments/new"><div class="well link">Add a new shipment</div></a>
  </div>
  
</div>
