@using InventoryTracker.Models
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">Shipment Index</h1>
</div>
<div id="fifteen" class="container">
  <div class="row">
    <p><a href="/shipments/new">Recieve a new shipment</a></p>
  </div>
  <div class="row">
    <div class="col-md-3">
      @foreach(Shipment shipment in Model)
        {
          <p><a href="/shipments/@shipment.GetId()">@shipment.GetId(): @shipment.GetDate()</a></p>
        }
    </div>
    <div class="col-md-9">
      <a class="btn btn-info" href="/">Home</a>
    </div>
    
  </div>
</div>
