@using InventoryTracker.Models
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">New Shipment</h1>
</div>

  <div class="row">
    <form action="/shipments/create" method="post">
      <label for="date">Date Recieved</label>
      <input name="date" id="date" type="date" required>

      <button type="submit">Recieve</button>
    </form>

  </div>
  <div class="row">

  </div>
