@using InventoryTracker.Models
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">Edit Dish</h1>
</div>
<div id="one" class=container>
  <form action="/dishes/@Model.GetId()" method="post">
    <label for="name"></label>
    <input id="name" name="name" type="text" required value="@Model.GetName()">
    <br>
    <button type="submit">Save</button>
  </form>
</div>
