@using InventoryTracker.Models
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">Dishes Index</h1>
</div>
<div id="two" class="container">
  <div class="row">
  </div>
  <div class="row">
  </div>
</div>
