@using InventoryTracker.Models
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">New Dish</h1>
</div>
<div id="three" class="container">
    <form action="/dishes" method="post">
      <label for="name">Name</label>
      <input id="name" name="name" type="text" required>
      <button type="submit">New</button>
    </form>
  <div class="row">

  </div>
</div>
