.big{
    height: 370px;
}

body{
    background-color: #ACC2A2;
    display: block;
}

.header{
    text-align: center;
}

.title{
    font-size: 50px;
}

.topRow{
    margin-top: 0px;
}

.link {
    text-align: center;
    color: black;
}
.link:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px rgba(25, 25, 25, .1);
}
a:hover{
    text-decoration: none;
}

#img-front{
    transform:scale(.6);
    bottom: 500px;
}

.well {
  width: 130px;
  margin-right: 50px;
}
