.big{
    height: 350px;
    width: 100%;

}

body{
    background-color: #ACC2A2;
    display: block;
}

.header{
    text-align: center;
}

.title{
    font-size: 50px;
}

.topRow{
    margin-top: 0px;
}

.link {
    text-align: center;
    color: black;
}
.link:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px rgba(25, 25, 25, .1);
}
a:hover{
    text-decoration: none;
}

#img-front{
    transform:scale(.6);
    bottom: 500px;
}

table, tr, td{
    border: 1px solid black;
}

td{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

/* .display{
    
    opacity:.3;
} */
