.left{
    float: left;
}
.left-center{
    position: relative;
    left: 80px;
}
.right{
    float: right;
}
big{
    height: 350px;
    width: 100%;

}

.long{
    height: 120px;
}

body{
    background-color: #ACC2A2;
    display: block;
}

.header{
    text-align: center;
}

.title{
    font-size: 50px;
}

.topRow{
    margin-top: 0px;
}

.link {
    text-align: center;
    color: black;
}
.link:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px rgba(25, 25, 25, .1);
}
a:hover{
    text-decoration: none;
}

#img-front{
    transform:scale(.6);
    bottom: 500px;
}

table, tr, td{
    border: 1px solid black;
}

td{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #BBBBBB
}

.delete{
    margin-top: 20px;
    background-color: rgb(206, 132, 132);
}
.edit{
    
    background-color: #e7a572
}
.button-lineup{
    height: 300px;
}

table{
    margin-top: 50px;
}
.list{
    margin-top: 50px;
}

.seperated{
    margin-top: 5px;
}

.add{
    background-color: rgb(93, 165, 93);
}

.offset{
    position: relative;
    bottom: 20px;
    right: 10px;
}

/* .title{
    float: left;
} */