@{
    Layout="_Layout";
}
<div class="header">
    <div>
        <h1 class="title"><em>FastTracker</em></h1>
    </div>
</div>
<div id="five" class="container">
  <div class="row topRow">
      <div class="col-md-9">
          <img id="img-front" src="~/img/frontpage.jpg">
      </div>
  </div>
</div>
