@using InventoryTracker.Models
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">Orders Index</h1>
</div>
<div id="eleven" class="container">
  <div class="row">
  
  @if(Model.Count == 0)
  {
    <p>No orders</p>
  }
  @if(Model.Count != 0)
  {
    @foreach(TableOrder tableOrder in Model)
    {
      <p><a href="/orders/@tableOrder.GetId()">@tableOrder.GetTableNumber() @tableOrder.GetOrderDate().ToString("dd MMMM yyyy")</a></p>
    }
  }
  </div>
  <div class="row">
    <p><a href="/orders/new">New order<a></p>
  </div>
</div>
