@using InventoryTracker.Models
@using System;
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">New Order</h1>
</div>

<form action="/orders" method="post">
  <label for="tableNumber">Table Number</label>
  <input id="tableNumber" name="tableNumber" type="text" required>
  <button type="submit">New</button>
</form>

