@using InventoryTracker.Models
@using System;
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">New Order</h1>
</div>
<div id="twelve" class="container">
  <form action"/orders/new" method="post">
    <label for="tableNumber">Table Number</label>
    <input id="tableNumber" name="tableNumber" type="text" required>
    <label for="orderDate">Date</label>
    <input id="orderDate" name="orderDate" type="date" required value="@DateTime.Now">
    <button type="submit">New</button>
  </form>
</div>
