@using InventoryTracker.Models
@{
    Layout="_Layout";
}
<div id="thirteen" class="container">
  <div class="row">
      <div class="col-md-12">
        <a href="#"><div class="well long">
            <h1>@Model["order"].GetTableNumber() @Model["order"].GetOrderDate()</h1>
        </div></a>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="well stacked">
              <h1>Lorem</h1>
          </div>
          <div class="well stacked">
              <h1>ipsum</h1>
          </div>
          <div class="well stacked">
              <h1>sit</h1>
          </div>
      </div>
      <div class="col-md-8">
          <div class="well big">
                <h1>Lorem ipsum sit dolor</h1>
                @if(Model["dishes"].Count == 0)
                {
                    <p>No orders</p>
                }
                @if(Model["dishes"].Count != 0)
                {
                    @foreach(DishQuantity dish in Model["dishes"])
                    {
                    <p><a href="/orders/@tableOrder.GetId()">@tableOrder.GetTableNumber() @tableOrder.GetOrderDate().ToString("dd MMMM yyyy")</a></p>
                    }
                }
          </div>
      </div>
  </div>
</div>  
