@using InventoryTracker.Models
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">All Ingredients</h1>
</div>
<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <table>
      <tr>
        <td><p><strong>Ingredient</strong></p></td>
        <td><p><strong>Quantity</strong></p></td>
        <!-- <td><p>Edit</p></td>
        <td><p>Delete</p></td> -->
  
      </tr>
      @foreach(Ingredient ingredient in Model)
      {
        <tr>
          <td><p>@ingredient.GetName()</p></td>
          <td><p>@ingredient.GetQuantity()</p></td>
          <!-- <td>
            <form action='ingredients/@ingredient.GetId()/update' method="post">
              <input name="quantity" id="quantity" value='@ingredient.GetQuantity()' required type="number">
              <button type="submit">Edit</button>
            </form>
          <td>
            <form action='ingredients/@ingredient.GetId()/delete' method="post">
              <button type="submit">Delete</button>
            </form>
          </td> -->
        
        </tr>
      }
    </table>
  </div>
  <div class="col-md-3">
    <a href="/ingredients/new" class="well link right">Add new Ingredient</a>
  </div>
</div>
